body{
  
    height: 100vh;
    position: relative;
    background-color: black;
}

#canvas{

    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -20;
    filter: blur(120px);
}

.logo_svg{
    width: 100%;
    position: absolute;
    top: calc( 50% - 25px);
  
    
}

.L{
    transform: translate(-250px);
}

.E{
    transform: translate(-150px);
}

.O{
    transform: translate(-50px);
}
.N{
    transform: translate(50px);

}
.A{
    transform: translate(150px);
    
}
.D{
    transform: translate(250px);
}
.logo{
    transition: all 2s ease;
}




.logo_dependent{
    /**animation: logoOn 1s 0.5s ease-in-out forwards;**/
}

.turnOn{
    animation: logoOn 1.5s ease-in-out forwards;
}


.no_trans{

    animation: noTranslate 1.5s ease-in-out 0.5s forwards;

}
.logo_independent{
    transition: all 6s ease;
}

.logoUp{
    animation: logoUP 1s ease-in-out 0.3s forwards;
}

@keyframes noTranslate{
    100%{
        transform: translate(0px);
    }
}
@keyframes logoOn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes logoUP{
    80%{
        top: 10%;
    }
    100%{
        top: 10%;
        height: 40px;
    }
}



.title_container{
    position: relative;
    
    width: 800px;
    height: 320px;
    left: calc( 50% - 400px);
    transition: all 1s ease-in-out;
    top: calc(50% - 160px);
    opacity: 0;
}

.title{
   
    color: white;
    font-size: 140px;
    font-weight: 300;
    width: 800px;
    text-align: center;



}
.upper-title{
    position: absolute;
    top: 300%;

}
.lower-title{
    position: absolute;
    font-family: 'Cormorant Garamond', serif;
    font-size: 140px;
    font-weight: 200;
    bottom: 300%;

}

.titleLoaderUp{
    animation: load_title_up 1s 0.2s ease-out forwards;
}
.titleLoaderLow{
    animation: load_title_low 1s 0.3s ease-out forwards;
}

@keyframes load_title_up{
    0%{
        opacity: 0;
        top: 150%;
        transform: rotate3d(0,1,0,-100deg);

    }
    100%{
        opacity: 1;
        top: 15%;
        transform: none;
    }
}


@keyframes load_title_low{
    0%{
        opacity: 0;
        top: 150%;
        transform: rotate3d(0,1,0,-100deg);

    }
    80%{
        opacity: 1;
        transform: rotate3d(0,1,0,15deg);
    }
    100%{
        opacity: 1;
        top: 40%;
        transform: none;
    }
}



.navigation{
    position: fixed;
    width: 150px;
    right: 0;
    height: 100vh;
    opacity: 0;
    z-index: 100;
    transition: all 0.4s ease-out;
}


i{
    position: relative;
    color: white;
    top: calc( 50% - 15px);
    left: calc( 50% - 15px);
    font-size: 30px;
    font-weight: 300;
    mix-blend-mode: difference;
    
}

.menu{
    position: relative;
    left: 0;
    top: 50px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
   transform-origin: center;
  
}

.menuColoring{
    
    transition: all 0.5s ease-in-out;
    position: absolute;
    border-radius: 50px;
    transform-origin: center;
    width: 100%;
    height: 100%;
    background-color: #DA0037 ;
    opacity: 0.8;
    transform: scale(0);
}

.case{
    color: #EDEDED;
    font-size: 20px;
    font-family: 'Cormorant Garamond', serif;
}

.underline{
    border: 1px solid;
    border-color: #EDEDED;
}

.case_container{
    position: absolute;
    width: max-content;
    height: 100px;
    text-align: center;
    transform: rotate(-90deg);

    top: calc(50% - 50px);
    right: 2%;
}


@keyframes menuColoring{
    0%{
        
        background-color: none;

    }
    100%{
     
        background-color: azure;
    }


}